body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h3 {
    font-size: 1.2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h4 {
    font-size: 1.2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin-bottom: 0px;
}
p {
    font-size: 1.2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.3em;
    color: #333;
}
footer {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    list-style: none;
}
img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 40%;
    max-width: 60%;
}
