@font-face {
  font-family: 'ArizonaText';
    src: url('fonts/ABCArizonaText-Light.eot'); /* IE9 Compat Modes */
    src: url('fonts/ABCArizonaText-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/ABCArizonaText-Light.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/ABCArizonaText-Light.woff') format('woff'), /* Pretty Modern Browsers */
        url('fonts/ABCArizonaText-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('fonts/ABCArizonaText-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
  font-family: 'ArizonaText';
    src: url('fonts/ABCArizonaText-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/ABCArizonaText-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/ABCArizonaText-LightItalic.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/ABCArizonaText-LightItalic.woff') format('woff'), /* Pretty Modern Browsers */
        url('fonts/ABCArizonaText-LightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('fonts/ABCArizonaText-LightItalic.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
  font-family: 'ArizonaText';
    src: url('fonts/ABCArizonaText-Medium.eot'); /* IE9 Compat Modes */
    src: url('fonts/ABCArizonaText-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/ABCArizonaText-Medium.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/ABCArizonaText-Medium.woff') format('woff'), /* Pretty Modern Browsers */
        url('fonts/ABCArizonaText-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('fonts/ABCArizonaText-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
  font-family: 'ArizonaText';
    src: url('fonts/ABCArizonaText-MediumItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/ABCArizonaText-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/ABCArizonaText-MediumItalic.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/ABCArizonaText-MediumItalic.woff') format('woff'), /* Pretty Modern Browsers */
        url('fonts/ABCArizonaText-MediumItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('fonts/ABCArizonaText-MediumItalic.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
  font-family: 'ArizonaFlare';
    src: url('fonts/ABCArizonaFlare-Light.eot'); /* IE9 Compat Modes */
    src: url('fonts/ABCArizonaFlare-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/ABCArizonaFlare-Light.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/ABCArizonaFlare-Light.woff') format('woff'), /* Pretty Modern Browsers */
        url('fonts/ABCArizonaFlare-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('fonts/ABCArizonaFlare-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
  font-family: 'ArizonaFlare';
    src: url('fonts/ABCArizonaFlare-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/ABCArizonaFlare-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/ABCArizonaFlare-LightItalic.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/ABCArizonaFlare-LightItalic.woff') format('woff'), /* Pretty Modern Browsers */
        url('fonts/ABCArizonaFlare-LightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('fonts/ABCArizonaFlare-LightItalic.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
  font-family: 'ArizonaFlare';
    src: url('fonts/ABCArizonaFlare-Medium.eot'); /* IE9 Compat Modes */
    src: url('fonts/ABCArizonaFlare-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/ABCArizonaFlare-Medium.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/ABCArizonaFlare-Medium.woff') format('woff'), /* Pretty Modern Browsers */
        url('fonts/ABCArizonaFlare-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('fonts/ABCArizonaFlare-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
  font-family: 'ArizonaFlare';
    src: url('fonts/ABCArizonaFlare-MediumItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/ABCArizonaFlare-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/ABCArizonaFlare-MediumItalic.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/ABCArizonaFlare-MediumItalic.woff') format('woff'), /* Pretty Modern Browsers */
        url('fonts/ABCArizonaFlare-MediumItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('fonts/ABCArizonaFlare-MediumItalic.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
body {
    font-family: ArizonaText;
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family: ArizonaText;
    padding: 0px;
    list-style: none;
    font-weight: 400;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family: ArizonaFlare;
}
h2 {
    font-size: 2em;
    font-family: ArizonaFlare;
}
h3 {
    font-size: 1.2em;
    font-family: ArizonaFlare;
}
h4 {
    font-size: 1.2em;
    font-family: ArizonaFlare;
    margin-bottom: -1em;
}
p {
    font-size: 1.2em;
    font-family: ArizonaText;
    line-height: 1.3em;
    color: #333;
}
footer {
    font-family: ArizonaText;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    font-family: ArizonaText;
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    font-family: ArizonaText;
    list-style: none;
}
img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 40%;
    max-width: 60%;
}
