<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:james@rethinkpriorities.org">email</a></li>
	        		<li><a href="https://y-james-hu.github.io">website</a></li>
				<li><a href="https://www.linkedin.com/in/y-james-hu">linkedin</a></li>
				<li><a href="https://www.twitter.com/y_james_hu">twitter</a></li>
				<li><a href="https://www.instagram.com/y.james.hu/">instagram</a></li>
				<li><a href="https://calendly.com/y-james-hu">calendly</li>
				<li><a href="https://www.admonymous.co/yjameshu/">adnonymous</a></li>
			</ul>
			</footer>
		</body>
	</html>
